$font-family: 'Uber Move';
$code-font-family: 'Hack';

@font-face {
    font-family: $font-family;
    font-weight: initial;
    src: url('../fonts/UberMove-Regular.ttf');
    font-style: normal;
}
@font-face {
    font-family: $font-family;
    font-weight: 100;
    src: url('/resources/fonts/UberMove-Light.ttf');
    font-style: normal;
}
@font-face {
    font-family: $font-family;
    font-weight: normal;
    src: url('/resources/fonts/UberMove-Medium.ttf');
    font-style: normal;
}
@font-face {
    font-family: $font-family;
    font-weight: bold;
    src: url('/resources/fonts/UberMove-Bold.ttf');
    font-style: normal;
}
@font-face {
    font-family: $code-font-family;
    font-weight: initial;
    src: url("/resources/fonts/Hack-Regular.ttf")
}