$f-uber-head: "Uber Move";
$f-uber-text: "Uber Move Text";
$f-monospace: "Hack";

@font-face {
  font-family: "Uber Move";
  font-weight: initial;
  src: url("../fonts/UberMove-Light.ttf");
  font-style: normal; 
}

@font-face {
  font-family: "Uber Move";
  font-weight: 100;
  src: url("../fonts/UberMove-Regular.ttf");
  font-style: normal; 
}

@font-face {
  font-family: "Uber Move";
  font-weight: normal;
  src: url("../fonts/UberMove-Medium.ttf");
  font-style: normal; 
}

@font-face {
  font-family: "Uber Move";
  font-weight: bold;
  src: url("../fonts/UberMove-Bold.ttf");
  font-style: normal; 
}

@font-face {
  font-family: "Uber Move Text";
  font-weight: initial;
  src: url("../fonts/UberMoveText-Light.ttf");
  font-style: normal; 
}

@font-face {
  font-family: "Uber Move Text";
  font-weight: 100;
  src: url("../fonts/UberMoveText-Regular.ttf");
  font-style: normal; 
}

@font-face {
  font-family: "Uber Move Text";
  font-weight: normal;
  src: url("../fonts/UberMoveText-Medium.ttf");
  font-style: normal; 
}

@font-face {
  font-family: "Uber Move Text";
  font-weight: bold;
  src: url("../fonts/UberMoveText-Bold.ttf");
  font-style: normal; 
}

@font-face {
  font-family: "Hack";
  font-weight: initial;
  src: url("../fonts/Hack-Regular.ttf"); 
}