extends components/layout.pug

block header 
    include components/header

block content
    .container
        h1 Uh Oh...
        p You're not supposed to be here.
        a(href="http://127.0.0.1")
            button.button Go back