extends components/layout.pug

block header 
    include components/header

block content
    .container
        h1 You're looking for WHAT?
        p We've looked everywhere, but I really can not find it.
        a(href="http://127.0.0.1")
            button.button Go back