extends components/layout.pug

block header 
    include components/header

block content
    .container
        h1 Uh Oh...
        p That was not supposed to happen!
        a(href="http://127.0.0.1")
            button.button Go back
        h2 error details
        pre=error
