extends components/layout

block header
    include components/header_big

block content
    .block.large.dark
    .container.offset-up
        .form
            .columns.centered
                .column
                    p(style="font-weight: 100;") 
                        | Oh! it seems you cancelled the transaction.
                    br
                    h3 Response
                    if data != null
                        pre POST https://api-sandbox.uber.com/v1/payments/deposits/#{data.deposit.id}/cancel
                        pre.code=JSON.stringify(data, null, 2)