extends components/layout

block scripts
    script(src="/resources/js/script.js")

block header
    include components/header_big

block content
    .block.large.dark
    .container.offset-up
        .form
            .columns.centered
                .column
                    h2 Uber
                    p(style="font-weight: 100;") 
                        | You are about to top up <b style="font-weight:initial;">#{data.amount.currency} 
                        | #{Math.round(data.amount.value / 100000)}</b> to Uber.
                    <br>
                    button.button(onclick="root.confirmPayment()") Confirm
                    button.button.outline(onclick="root.cancelPayment()") Cancel

                    h3 Request data
                    pre https://api-sandbox.uber.com/v1/payments/deposits
                    textarea=JSON.stringify(data, null, 2)

                    h3 Response data
                    textarea=JSON.stringify(res, null, 2)