/* embrace uber styling */
@font-face {
  font-family: 'Uber Move';
  font-weight: initial;
  src: url("UberMove-Regular.1972f8db.ttf");
  font-style: normal; }

@font-face {
  font-family: 'Uber Move';
  font-weight: 100;
  src: url("UberMove-Light.e66c6cde.ttf");
  font-style: normal; }

@font-face {
  font-family: 'Uber Move';
  font-weight: normal;
  src: url("UberMove-Medium.ee348424.ttf");
  font-style: normal; }

@font-face {
  font-family: 'Uber Move';
  font-weight: bold;
  src: url("UberMove-Bold.5a366c8b.ttf");
  font-style: normal; }

@font-face {
  font-family: 'Hack';
  font-weight: initial;
  src: "../fonts/Hack-Regular.ttf"; }

html, body {
  font-family: 'Uber Move';
  margin: 0px; 
  background-color: #e0e0ef;}

.header {
  width: 100%;
  background-color: black;
  padding: 10px 0px; }
  .header.large {
    font-size: 24px; }

.header-logo {
  margin: 0 6;
  font-weight: normal;
  color: white;
  font-size: 24; }

.header-decorator {
  font-weight: 100;
  color: white;
  font-size: 24; }

.form {
  text-align: center;
  margin-bottom: 40px; }

blockquote,textarea {
  outline: none;
  border: none;
  width: 96%;
  height: 280px;
  margin: 10px;
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 4px;
  font-family: 'Hack' !important;
  box-shadow: 3px 3px 3px #b4b4b4; }

.button {
  background-color: black;
  color: white;
  padding: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 1px 1px 20 black; }
  .button.light {
    background-color: white;
    color: black; }
    .button.light.outline {
      background-color: transparent;
      color: white;
      border: 1px solid white; }
    .button.light.outline:hover {
      background-color: white;
      color: black; }
  .button.outline {
    background-color: transparent;
    color: black;
    border: 1px solid black; }
  .button.outline:hover {
    background-color: black;
    color: white; }
  .button.smooth {
    transition: 0.2s; }
  .button.small {
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 8px;
    border-radius: 4px; }
  .button.round {
    border-radius: 100%; }

.button:hover {
  background-color: white;
  color: black; }

p.w-light {
  font-weight: 100; }

.hidden {
  transform: scale(1, 0);
  color: transparent;
  display: none; }

.is-error {
  background-color: #ec4646;
  color: white; }

  

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: 80vw; }

.columns {
  display: flex;
  flex-direction: row; }
  .columns.centered {
    align-items: center; }

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding-right: 0.5rem; }
  .column.is-right {
    text-align: right; }
  .column.is-left {
    text-align: left; }

.is-vcentered {
  vertical-align: center;
  margin: auto; }

.block {
  transform-origin: top;
  display: block;
  width: 100%; }
  .block.large {
    height: 80vh; }
  .block.small {
    padding: 1rem;
    margin: auto; }
  .block.dark {
    background-color: black; }
  .block.centered {
    vertical-align: center; }

.offset-up {
  overflow: hidden;
  margin-top: -60vh;
  background-color: white;
  padding: 20px;
  border-radius: 8px; }

.md50 {
  padding-top: 50px; }


/*# sourceMappingURL=style.6b54f5b7.css.map */