// See components for their respective variables.

$gap: 0.5rem;

$font-large: 28px;
$font-medium: 18px;
$font-small: 12px;

$color-black: black;
$color-white: white;
$color-grey: #e0e0ef;

$color-info: #7ea4f7;
$color-danger: #ec4646;
$color-warning: #f7e061;
$color-success: #83f1a8;